.container {
  box-sizing: border-box;
  height: 70px;
  margin: 0 3px 3px 0;
  background: #161631;
  display: flex;
  font-family: 'Roboto';
  .overviewLink {
    width: calc(185px - 30px);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    margin: 0 30px 0 0;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    background: #1b1b3b;
    color: #ffffff;
    &::after {
      content: '';
      position: absolute;
      right: 20px;
      width: 20px;
      height: 20px;
      background-image: url('../../../assets/img/eye.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .mainAccount {
    margin: 16px 10px 0 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #22bc7b;
  }
  .balances {
    margin: 16px 0 0 0;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
    span {
      color: #ffffff;
    }
  }
  .login {
    margin: auto 15px auto auto;
    padding: 7px 20px;
    border: 0;
    max-height: 31px;
    background: #5b549d;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 4px;
    &:hover {
      opacity: 0.8;
    }
    & span {
      opacity: 0.6;
    }
  }
}
